vrrp_script check_haproxy {                 
    script "/home/keepalived_script/check_haproxy.sh" 
    weight 20                              
    interval 1               
}
vrrp_instance VI_1 {             
    interface ens3
    virtual_router_id 51


	{% if groups['all'][0] == inventory_hostname %}
		priority 100 
	{% else %}
		priority 90           
	{% endif %}
    
    advert_int 1
    authentication{
    	auth_type PASS
    	auth_pass {{ keepalived_password }}
    }                         
    virtual_ipaddress {                     
        {% if hostvars[groups['keepalived'][0]]['ansible_default_ipv4']['address'].split('.')[2] == '42' %}
        	192.168.100.{{ hostvars[groups['keepalived'][0]]['ansible_default_ipv4']['address'].split('.')[3] }}/24 
        {% else %}
        	192.168.101.{{ hostvars[groups['keepalived'][0]]['ansible_default_ipv4']['address'].split('.')[3] }}/24 
        {% endif%}
                  
    }
    unicast_peer { 
    	{% for vm in groups['keepalived'] %}
    	{% if vm != inventory_hostname %}
    		{{ hostvars[vm]['ansible_default_ipv4']['address'] }}         
    	{% endif %}
    	{% endfor %}        
    }
    track_script {
        check_haproxy
    }
}