$TTL	604800
{{ startup_name }}.	IN	SOA	{{ hostvars['timofeimih-1']['inventory_hostname'] }}.{{ startup_name }}. ***REMOVED***.{{ startup_name }}. (
			     9		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
{{ startup_name }}. IN	NS	ns-1
{{ startup_name }}. IN	NS	ns-2

ns-1	IN	A	{{ hostvars['timofeimih-1']['ansible_default_ipv4']['address'] }}
ns-2	IN	A	{{ hostvars['timofeimih-2']['ansible_default_ipv4']['address'] }}
