{% if inventory_hostname == mysql_backup_host %}
10 4 * * *  backup  mysqldump agama > /home/backup/mysql/agama.sql
15 4 * * 0  backup  duplicity --no-encryption full /home/backup/mysql/ rsync://timofeimih@backup.{{ startup_name }}/mysql
15 4 * * 1-6  backup  duplicity --no-encryption incremental /home/backup/mysql/ rsync://timofeimih@backup.{{ startup_name }}/mysql
{% endif %}