[Unit]
Description=Pinger service to get data about latency
After=network-online.target

[Service]
User=pinger
ExecStart=/usr/local/bin/pinger

[Install]
WantedBy=multi-user.target
