server {
	listen 80 default_server;
	server_name agama;

	location / {
		proxy_pass http://www-1:{{ agama_port }};
	}

	location /prometheus {
		proxy_pass http://prometheus:9090;
	}

	location /grafana {
		proxy_set_header Host $http_host;
		proxy_pass http://grafana:{{ grafana_port }};
	}
}

server {
	listen 8080 default_server;

	location = /stub_status {
		stub_status;
	}
}