[server]
root_url = http://{{ hostvars[inventory_hostname].ansible_host }}:{{ hostvars[inventory_hostname].ansible_port + 58 }}/grafana/
serve_from_sub_path = true

[security]
;disable_initial_admin_creation = true

admin_user = {{ grafana_user }}

# default admin password, can be changed before first start of grafana,  or in profile settings
admin_password = {{ grafana_password }}

# default admin email, created on startup
admin_email = {{ grafana_email }}
