$TTL	604800
{{ startup_name }}.	IN	SOA	{{ groups['dns_primary'][0] }}.{{ startup_name }}. admin.{{ startup_name }}. (
			     1		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 ); Negative Cache TTL
;
{% for dns_server in groups['dns_servers'] %}
{{ startup_name }}. IN	NS	{{ dns_server }}
{% endfor %}

{% for dns_server in groups['dns_servers'] %}
{{ dns_server }}	IN	A	{{ hostvars[dns_server]['ansible_default_ipv4']['address'] }}
{% endfor %}
