acl corpnets { 
    {% for ip in dns_access_rules %}{{ ip }};{% endfor %}
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

key "nsupdate.key" {
    algorithm hmac-sha256;
    secret "{{ dns_update_key }}";
};


key "transfer.key" {
    algorithm hmac-sha256;
    secret "{{ dns_transfer_key }}";
};

zone "168.192.in-addr.arpa" {
    type primary;
    file "db.rev";
};


options {
        directory "/var/cache/bind";

        allow-query { corpnets; };

        // If there is a firewall between you and nameservers you want
        // to talk to, you may need to fix the firewall to allow multiple
        // ports to talk.  See http://www.kb.cert.org/vuls/id/800113

        // If your ISP provided one or more IP addresses for stable
        // nameservers, you probably want to use them as forwarders.
        // Uncomment the following block, and insert the addresses replacing
        // the all-0's placeholder.

        forwarders {
        {% for dns in dns_forwarders %}
         {{ dns }};
        {% endfor %}
        };

        //=====================================================================>
        // If BIND logs error messages about the root key being expired,
        // you will need to update your keys.  See https://www.isc.org/bind-keys
        //=====================================================================>
        dnssec-validation auto;

        listen-on-v6 { any; };
};


